USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  UserDefinedTableType [dbo].[DataTypeforProjectTable]    Script Date: 11/11/2024 4:41:57 PM ******/
CREATE TYPE [dbo].[DataTypeforProjectTable] AS TABLE(
	[Project] [varchar](255) NULL,
	[Creationtime] [datetime] NULL
)
GO
