USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  UserDefinedTableType [dbo].[DataTypeforCustomerTable]    Script Date: 11/11/2024 4:41:57 PM ******/
CREATE TYPE [dbo].[DataTypeforCustomerTable] AS TABLE(
	[PersonID] [int] NULL,
	[Name] [varchar](255) NULL,
	[LastModifytime] [datetime] NULL
)
GO
