USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_UpdateExtractStatus__Complete]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [loader].[up_UpdateExtractStatus__Complete]
	@PipelineRunId VARCHAR(256)
AS

UPDATE loader.PipelineStatus
SET RunEnd = GETUTCDATE(),
	DurationInMs = DATEDIFF(MILLISECOND, RunStart, GETUTCDATE()),
	PipelineStatus = 'Succeeded',
	[Message] = '',
	LastUpdated = GETUTCDATE(),
	ETL__UpdatedDate = GETUTCDATE()
WHERE PipelineRunId = @PipelineRunId
GO
