USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_GetLastWatermark]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [loader].[up_GetLastWatermark] 
	@ConfigId INT,
	@TimeZone [VARCHAR](500) = 'Central Standard Time'
AS

DECLARE @LastExtractedDateTimeNull DATETIME = '1/1/1900'
DECLARE @LastExtractedDateTime DATETIME
DECLARE @Watermark VARCHAR(50)

SET @LastExtractedDateTime = (
		SELECT MAX(LastExtractedDateTime) AS LastExtractedDate
		FROM Loader.Config tm WITH (NOLOCK)
		INNER JOIN Loader.SourceSystem ss WITH (NOLOCK)
			ON tm.SourceSystemId = ss.SourceSystemId
		WHERE tm.ConfigId = @ConfigId
	)

SET @Watermark = ISNULL((
		SELECT MAX(WatermarkValue) AS Watermark
		FROM Loader.Config tm WITH (NOLOCK)
		INNER JOIN Loader.SourceSystem ss WITH (NOLOCK)
			ON tm.SourceSystemId = ss.SourceSystemId
		WHERE tm.ConfigId = @ConfigId
               AND tm.WatermarkType <> 'datetime'
	),'')

SET @LastExtractedDateTime = ISNULL(@LastExtractedDateTime AT TIME ZONE 'Central Standard Time' AT TIME ZONE @TimeZone, @LastExtractedDateTimeNull)

SELECT 
	@LastExtractedDateTime AS LastExtractedDate,
     @Watermark AS Watermark
GO
