USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  Table [loader].[EnvironmentVariables]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [loader].[EnvironmentVariables](
	[EnvironmentId] [int] IDENTITY(1,1) NOT NULL,
	[Environment] [varchar](20) NULL,
	[SubscriptionID] [varchar](50) NULL,
	[ResourceGroup] [varchar](50) NULL,
	[BlobStorageURL] [varchar](2000) NULL,
	[DataLakeURL] [varchar](2000) NULL,
	[DataLakeAccount] [varchar](2000) NULL,
	[DataBricksURL] [varchar](2000) NULL,
	[DataBricksCluster] [varchar](2000) NULL,
	[DataBricksWorkspaceId] [varchar](2000) NULL,
	[KeyVaultURL] [varchar](2000) NULL,
	[TabModelRefreshURI] [varchar](2000) NULL,
	[AlertURI] [varchar](2000) NULL,
	[AlertEmailDistro] [varchar](2000) NULL,
	[CurrencyURI] [varchar](2000) NULL,
	[CreateDateTimeUtc] [datetime] NOT NULL,
	[UpdateDateTimeUtc] [datetime] NOT NULL,
 CONSTRAINT [PK__EnvironmentVariables__EnvironmentId] PRIMARY KEY CLUSTERED 
(
	[EnvironmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [loader].[EnvironmentVariables] ADD  CONSTRAINT [DF__EnvironmentVariables__CreateDateTimeUtc]  DEFAULT (getutcdate()) FOR [CreateDateTimeUtc]
GO
ALTER TABLE [loader].[EnvironmentVariables] ADD  CONSTRAINT [DF__EnvironmentVariables__UpdateDateTimeUtc]  DEFAULT (getutcdate()) FOR [UpdateDateTimeUtc]
GO
