USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_UpdateDeltaLakeLoadStatus]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [loader].[up_UpdateDeltaLakeLoadStatus]
	@ConfigId INT,
	@ExtractHistoryId BIGINT,
	@ItemStatus VARCHAR(500),
	@ItemStatusValue VARCHAR(5000)
AS
SET NOCOUNT ON

IF @ItemStatus = 'Append Spark Table Created'
BEGIN
	UPDATE loader.ExtractHistory
	SET LoadedToAppends = 1
	WHERE ConfigId = @ConfigId
		AND ExtractHistoryId = @ExtractHistoryId
END

IF @ItemStatus = 'Delta Lake Created'
	OR @ItemStatus = 'Delta Lake Updated'
BEGIN
	UPDATE loader.ExtractHistory
	SET LoadedToDelta = 1
	WHERE ConfigId = @ConfigId
		AND ExtractHistoryId = @ExtractHistoryId
END

EXEC Loader.up_UpdateItemStatus
	@ConfigId = @ConfigId,
	@ItemStatus = @ItemStatus,
	@ItemStatusValue = @ItemStatusValue
GO
