USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_GetCurrentExtractStatus]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [loader].[up_GetCurrentExtractStatus]
	@SourceSystem VARCHAR(256)
AS
DECLARE @CurrentStatus VARCHAR(256) = 'Complete'
/*
SET @CurrentStatus = (
		SELECT DISTINCT ISNULL(FIRST_VALUE(es.CurrentStatus) OVER (PARTITION BY es.SourceSystemId ORDER BY es.StartTimeUTC DESC), 'Not Running') AS CurrentStatus
		FROM loader.SourceSystem ss
		INNER JOIN loader.ExtractStatus es
			ON es.SourceSystemId = ss.SourceSystemId
		WHERE ss.SourceSystem = @SourceSystem
	)

SELECT ISNULL(@CurrentStatus, 'Complete') AS CurrentStatus
*/
GO
