USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_GetSourceSystemConfiguration]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [loader].[up_GetSourceSystemConfiguration]
	@SourceSystem VARCHAR(250)
AS
SELECT ss.SourceSystem, st.SystemType, ss.SecretName, ev.Environment AS EmailTo, ISNULL(iz.Environment, 'bronze') AS IngestedZone, ISNULL(rz.Environment, 'silver') AS RefinedZone, ISNULL(cz.Environment, 'gold') AS CuratedZone
FROM loader.SourceSystem ss
INNER JOIN loader.SystemType st
	ON ss.SystemTypeId = st.SystemTypeId
LEFT OUTER JOIN loader.EnvironmentVariables ev
	ON  ev.Environment = 'ErrorNotification'
LEFT OUTER JOIN loader.EnvironmentVariables iz
	ON  ev.Environment = 'Ingested Zone'
LEFT OUTER JOIN loader.EnvironmentVariables rz
	ON  ev.Environment = 'Refined Zone'
LEFT OUTER JOIN loader.EnvironmentVariables cz
	ON  ev.Environment = 'Aggregated Zone'
WHERE ss.SourceSystem = @SourceSystem
GO
