USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  View [loader].[vwConfig]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [loader].[vwConfig]
AS
     SELECT [c].[ConfigId]
           ,[ss].[SourceSystem]
           ,[st].[SystemType]
           ,ISNULL(c.FileNameOverride, c.TableName) AS TableName
           ,[c].[SourceSystemId]
           ,[c].[IntegrationType]
           ,[c].[Incremental]
           ,[c].[WatermarkField]
           ,[c].[WatermarkType]
           ,[c].[WatermarkValue]
           ,[c].[QueryOverride]
           ,[c].[ServerName]
           ,[c].[DatabaseName]
           ,[c].[TableSchema]
           ,[c].[PrimaryKey]
           ,[c].[ContainerName]
           ,[c].[FolderName]
           ,[c].[FileNameOverride]
           ,[c].[LoadDw]
           ,[c].[StoredProcedure]
           ,[c].[TimeZone]
           ,[c].[ConfigGroup]
           ,[c].[ConfigActive]
           ,[c].[ConfigOptions]
           ,[c].[AuditActive]
           ,[c].[CreatedDateTime]
           ,[c].[LastExtractedDateTime]
           ,[c].[StartDate]
           ,[c].[EndDate]
           ,[c].[SchemaShift]
           ,CONVERT(bit, CASE WHEN c.WatermarkValue IS NULL THEN 1 ELSE 0 END) AS HistoricalRun
     FROM [loader].[Config]                  [c]  (NOLOCK)
     INNER JOIN [loader].[SourceSystem]      [ss] (NOLOCK)
          ON [c].[SourceSystemId] = [ss].[SourceSystemId]
     INNER JOIN [loader].[SystemType]        [st] (NOLOCK)
          ON [ss].[SystemTypeId] = [st].[SystemTypeId]

GO
