USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_GetSourceMaxWatermarkQuery]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [loader].[up_GetSourceMaxWatermarkQuery]
	@ConfigId INT
AS
DECLARE @sql NVARCHAR(MAX)
SELECT @SQL =
	CASE WHEN Incremental = 0
	     --Full extract every time
		 THEN  'SELECT NULL AS WatermarkValue, COUNT(*) AS RecordCount ' + 
			   'FROM '+ QUOTENAME(TableSchema) + '.' + QUOTENAME(TableName) + ' WITH (NOLOCK) '
		 --Incremental Extract
		 ELSE  'SELECT MAX(' + 
					CASE WHEN WatermarkType IN ('smallint', 'int', 'bigint', 'datetime')
						 THEN 'CONVERT(VARCHAR(256), ' + WatermarkField + ', 121)' 
						 ELSE 'CONVERT(VARCHAR(256), CONVERT(VARBINARY(256),' + WatermarkField + '), 1)'
						 END + ') AS WatermarkValue, ISNULL(COUNT(*),0) AS RecordCount ' +
				'FROM '+ QUOTENAME(TableSchema) + '.' + QUOTENAME(TableName) + ' WITH (NOLOCK) '+
				--Need to put a constraint on the query
				CASE WHEN ISNULL(WatermarkValue, '') <> '' 
					 THEN 
				'WHERE ' + 
						CASE WHEN WatermarkType IN ('datetime') 
							 THEN WatermarkField + ' > ''' + CONVERT(DATETIME, CONVERT(datetime, WatermarkValue) AT TIME ZONE 'UTC' AT TIME ZONE TimeZone) + ''''
							 WHEN WatermarkType IN ('varbinary', 'smallint', 'int', 'bigint')
							 THEN WatermarkField + ' > ' + WatermarkValue + ''
							 END
					 ELSE ''
					 END
		END
FROM loader.Config
WHERE ConfigId = @ConfigId

SELECT @Sql AS SqlQuery
GO
