USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_UpdatePipelineStatus]    Script Date: 11/11/2024 4:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [loader].[up_UpdatePipelineStatus] 
	@json AS NVARCHAR(MAX)
AS
BEGIN

	MERGE loader.PipelineStatus as myTarget
	USING (
			SELECT
				ps.runId AS PipelineRunId,
				ps.PipelineName,
				ps.[parameters] AS ParameterValues,
				ps.InvokedBy,
				ib.pipelineRunId AS InvokedByPipelineRunId,
				ib.InvokedByType,
				CONVERT(datetime, LEFT(ps.runStart, 19)) AS RunStart,
				CONVERT(datetime, LEFT(ps.runEnd, 19)) AS RunEnd,
				CONVERT(int, ps.durationInMs) AS DurationInMs,
				ps.[Status] AS PipelineStatus,
				ps.[Message],
				CONVERT(datetime, LEFT(ps.lastUpdated, 19)) AS LastUpdated
			FROM OPENJSON(@json)
				WITH (
					 [runId] VARCHAR(256),
					 [pipelineName] VARCHAR(256),
					 [parameters] NVARCHAR(MAX) AS JSON,
					 [invokedBy] NVARCHAR(MAX) AS JSON,
					 [runStart] VARCHAR(256),
					 [runEnd] VARCHAR(256),
					 [durationInMs] VARCHAR(256),
					 [status] VARCHAR(256),
					 [message] VARCHAR(256),
					 lastUpdated VARCHAR(256)
				) AS ps
			CROSS APPLY OPENJSON(ps.Invokedby)
				WITH (
					pipelineRunId VARCHAR(256),
					invokedByType VARCHAR(256)
				) AS ib
		) AS mySource
		ON myTarget.PipelineRunId = mySource.PipelineRunId
	WHEN MATCHED THEN
		UPDATE 
		SET PipelineName = mySource.PipelineName,
			ParameterValues = mySource.ParameterValues,
			InvokedBy = mySource.InvokedBy,
			InvokedByPipelineRunId = mySource.InvokedByPipelineRunId,
			InvokedByType = mySource.InvokedByType,
			RunStart = mySource.RunStart,
			RunEnd = mySource.RunEnd,
			DurationInMs = mySource.DurationInMs,
			PipelineStatus = mySource.PipelineStatus,
			[Message] = mySource.[Message],
			LastUpdated = mySource.LastUpdated,
			ETL__UpdatedDate = GETUTCDATE(),
			ETL__ManualStatus = 0
	WHEN NOT MATCHED THEN
		INSERT (
			PipelineRunId,
			PipelineName,
			ParameterValues,
			InvokedBy,
			InvokedByPipelineRunId,
			InvokedByType,
			RunStart,
			RunEnd,
			DurationInMs,
			PipelineStatus,
			[Message],
			LastUpdated,
			ETL__UpdatedDate,
			ETL__ManualStatus
		)
		VALUES (
			mySource.PipelineRunId,
			mySource.PipelineName,
			mySource.ParameterValues,
			mySource.InvokedBy,
			mySource.InvokedByPipelineRunId,
			mySource.InvokedByType,
			mySource.RunStart,
			mySource.RunEnd,
			mySource.DurationInMs,
			mySource.PipelineStatus,
			mySource.[Message],
			mySource.LastUpdated,
			GETUTCDATE(),
			0
		);
END
GO
