USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  Table [loader].[ItemStatus]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [loader].[ItemStatus](
	[ConfigId] [int] NULL,
	[ItemStatus] [varchar](255) NULL,
	[ItemStatusValue] [varchar](5000) NULL,
	[CreateDateTimeUtc] [datetime] NOT NULL,
	[UpdateDateTimeUtc] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [loader].[ItemStatus] ADD  CONSTRAINT [DF_ItemStatus_CreateDateTimeUtc]  DEFAULT (getutcdate()) FOR [CreateDateTimeUtc]
GO
ALTER TABLE [loader].[ItemStatus]  WITH CHECK ADD  CONSTRAINT [FK_ItemStatus_Config] FOREIGN KEY([ConfigId])
REFERENCES [loader].[Config] ([ConfigId])
GO
ALTER TABLE [loader].[ItemStatus] CHECK CONSTRAINT [FK_ItemStatus_Config]
GO
