USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_GetPipelineStatusRuns]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [loader].[up_GetPipelineStatusRuns]
AS
SELECT DISTINCT eh.PipelineRunId
FROM loader.ExtractHistory eh WITH (NOLOCK)
LEFT OUTER JOIN loader.PipelineStatus ps WITH (NOLOCK)
	ON eh.PipelineRunId = ps.PipelineRunId
WHERE ps.PipelineName IS NULL
UNION
SELECT PipelineRunId
FROM loader.PipelineStatus ps WITH (NOLOCK)
WHERE ps.ETL__ManualStatus = 1
	AND PipelineName NOT LIKE 'get-pipeline-status%'
GO
