USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_UpdateLastWatermarkVersion]    Script Date: 11/11/2024 4:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [loader].[up_UpdateLastWatermarkVersion]
    @WatermarkValue [VARCHAR](MAX) NULL,
	@RecordCount [INT] NULL,
	@FileSize VARCHAR(256) NULL = '0',
	@PipelineRunId VARCHAR(256) NULL,
	@FolderName VARCHAR(500) NULL,
	@FileName VARCHAR(500) NULL,
	@ConfigId [INT],
	@LastExtractedDateTime [DATETIME]
AS
	DECLARE @SourceSystemId INT = (
			SELECT SourceSystemId 
			FROM loader.Config c
			WHERE c.ConfigId = @ConfigId
		)

	--SET @WatermarkValue = CONVERT(varchar(25), @LastExtractedDateTime, 121)
	--SET @WatermarkValue = (SELECT COALESCE(@WatermarkValue, @LastExtractedDateTime, [WatermarkValue]) FROM loader.Config WHERE ConfigId = @ConfigId)

	UPDATE myTarget
    SET myTarget.[WatermarkValue] = @WatermarkValue, myTarget.[LastExtractedDateTime] = @LastExtractedDateTime
    FROM [loader].[Config] myTarget
    WHERE myTarget.ConfigId = @ConfigId

	INSERT INTO loader.ExtractHistory (
		SourceSystemId,
		ConfigId,
		PipelineRunId,
		[FileName],
		[FolderName],
		WatermarkValue,
		RecordCount,
		FileSize,
		ExtractDateTime
	)
	VALUES (
		@SourceSystemId,
		@ConfigId,
		@PipelineRunId,
		@FileName,
		@FolderName,
		@WatermarkValue,
		@RecordCount,
		@FileSize,
		@LastExtractedDateTime
	)
GO
