USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_GetConfiguration_FlatFile]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [loader].[up_GetConfiguration_FlatFile]
	@SourceSystem VARCHAR(255),
	@ConfigGroup VARCHAR(255) = 'All',
	@ConfigOverride VARCHAR(255) = '0'
AS
BEGIN
	IF ISNULL(@ConfigOverride, '') = ''
	BEGIN
		SET @ConfigOverride = '0'
	END

	DECLARE @ConfigId TABLE (
		ConfigId INT
	)
	INSERT INTO @ConfigId (
		ConfigId
	)
	SELECT 
		co.[value] AS ConfigId
	FROM string_split(@ConfigOverride, ',') co
	
	SELECT 
		  st.SystemType 
		, c.[ConfigId] 
		, c.[SourceSystemId] 
		, c.[IntegrationType]		
		, c.[Incremental]			
		, c.[ColumnDelimiter]		
		, c.[RowDelimiter]		
		, c.[CompressionLevel]	
		, c.[CompressionType]		
		, c.[Encoding]			
		, c.[EscapeCharacter]		
		, c.[FileSystem]			
		, c.[Directory]			
		, c.[FileName]			
		, c.[FileExt]
		, c.[FirstRowAsHeader]	
		, ISNULL(c.[NullValue], 'NULL') AS [NullValue]			
		, c.[QuoteCharacter]		
		, c.[LoadDw] 
		, c.[TimeZone] 
		, c.[FileNameOverride] 
		, c.[ConfigGroup] 
		, c.[ConfigActive] 
		, c.[ConfigOptions] 
		, c.[AuditActive] 
		, c.[CreatedDateTime] 
		, c.[LastExtractedDateTime] 
		, c.[StartDate]				
		, c.[EndDate]					
		, c.[PrimaryKey]				
		, c.[SchemaShift]				
		, c.[TargetBronzeSchema]
		, c.[TargetTableName]
		, c.[TargetSilverEntity]		
		, c.[ArchiveRaw]				
		, ss.[SourceSystem]
	FROM loader.Config_Flatfile c
	INNER JOIN loader.SourceSystem ss
		ON  c.SourceSystemId = ss.SourceSystemId
	INNER JOIN loader.SystemType st
		ON ss.SystemTypeiD = st.SystemTypeId
	LEFT JOIN @ConfigId co
		ON c.ConfigId = co.ConfigId
	WHERE ss.SourceSystem = @SourceSystem
		AND (
			(
				(c.ConfigGroup = @ConfigGroup
					OR c.ConfigGroup IS NULL
					OR @ConfigGroup = 'All')
				AND c.ConfigActive = 1
				AND @ConfigOverride = '0'
			)
			OR co.ConfigId IS NOT NULL
		)
END
GO
