USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_UpdateExtractStatus__Error]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [loader].[up_UpdateExtractStatus__Error]
	@PipelineRunId VARCHAR(256)
AS

UPDATE ps
SET RunEnd = GETUTCDATE(),
	DurationInMs = DATEDIFF(MILLISECOND, RunStart, GETUTCDATE()),
	PipelineStatus = 'Failed',
	[Message] = 'An error occurred',
	LastUpdated = GETUTCDATE(),
	ETL__UpdatedDate = GETUTCDATE()
FROM loader.PipelineStatus ps
WHERE PipelineRunId = @PipelineRunId
GO
