USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  View [loader].[vwLatestExtractErrors]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [loader].[vwLatestExtractErrors]
AS
     SELECT [c].[ConfigId]
           ,[c].[SourceSystemId]
           ,[ss].[SourceSystem]
           ,[c].[ServerName]
           ,[c].[DatabaseName]
           ,[c].[TableName]
           ,[c].[WatermarkValue]        AS [LatestWatermarkValue]
           ,[eh].[PipelineRunId]        AS [LatestPipelineRunId]
           ,[eh].[RecordCount]          AS [LatestExtractRecordCount]
           ,[eh].[ErrorMessage]         AS [LatestExtractErrorMessage]
           ,[eh].[ExtractDateTime]      AS [LatestExtractErrorDateTimeUTC]
           ,[eh].[ExtractDateTimeLocal] AS [LatestExtractErrorDateTimeLocal]
     FROM [loader].[Config]        [c]  (NOLOCK)
     INNER JOIN (SELECT [eh].[SourceSystemId]
                       ,[eh].[ConfigId]
                       ,[eh].[PipelineRunId]
                       ,[eh].[FolderName]
                       ,[eh].[FileName]
                       ,[eh].[WatermarkValue]
                       ,[eh].[RecordCount]
                       ,[eh].[FileSize]
                       ,[eh].[ExtractDateTime]
                       ,[eh].[LoadedToAppends]
                       ,[eh].[LoadedToDelta]
                       ,[eh].[LoadedToDw]
                       ,[eh].[ErrorMessage]
                       ,[eh].[ExtractDateTimeLocal]
                 FROM [loader].[ExtractHistory]   [eh] (NOLOCK)
                 INNER JOIN (SELECT DISTINCT [ieh].[configId] ,FIRST_VALUE([ieh].[ExtractHistoryId]) OVER (PARTITION BY [ieh].[ConfigId] 
                                                                                                           ORDER BY [ieh].[ExtractDateTime] DESC) AS [ExtractHistoryId]
                             FROM [loader].[ExtractHistory]     [ieh] (NOLOCK)
			             ) [leh]
                       ON [eh].[ExtractHistoryId] = [leh].[ExtractHistoryId]
                  WHERE [eh].[ErrorMessage] IS NOT NULL
	            ) [eh]
          ON c.ConfigId = eh.ConfigId
     INNER JOIN [loader].[SourceSystem]      [ss] (NOLOCK)
          ON  [c].[SourceSystemId] = [ss].[SourceSystemId]
     WHERE [c].[ConfigActive] = 1


GO
