USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  Table [loader].[PipelineActivityStatus]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [loader].[PipelineActivityStatus](
	[PipelineRunId] [nvarchar](4000) NULL,
	[JsonKey] [nvarchar](4000) NOT NULL,
	[PipelineName] [nvarchar](4000) NULL,
	[PipelineStatus] [nvarchar](4000) NULL,
	[ActivityRunId] [nvarchar](4000) NULL,
	[ActivityName] [nvarchar](4000) NULL,
	[ActivityRunStart] [datetime] NULL,
	[ActivityRunEnd] [datetime] NULL,
	[ActivityType] [nvarchar](4000) NULL,
	[DurationInMs] [int] NULL,
	[RetryAttempt] [nvarchar](4000) NULL,
	[Error] [nvarchar](4000) NULL,
	[SourceType] [nvarchar](4000) NULL,
	[ConfigId] [nvarchar](4000) NULL,
	[SqlReaderQuery] [nvarchar](4000) NULL,
	[DataRead] [nvarchar](4000) NULL,
	[DataWritten] [nvarchar](4000) NULL,
	[FilesWritten] [nvarchar](4000) NULL,
	[RowsRead] [nvarchar](4000) NULL,
	[RowsCopied] [nvarchar](4000) NULL,
	[CopyDuration] [nvarchar](4000) NULL,
	[Throughput] [nvarchar](4000) NULL,
	[CopyActivityErrors] [nvarchar](4000) NULL,
	[UsedDataIntegrationUnits] [nvarchar](4000) NULL,
	[WatermarkValue] [nvarchar](4000) NULL,
	[RecordCount] [nvarchar](4000) NULL,
	[MeterType] [varchar](256) NULL,
	[MeterDuration] [decimal](19, 4) NULL,
	[MeterUnit] [varchar](256) NULL,
	[JsonValue] [nvarchar](max) NULL,
	[ETL__CreatedDate] [datetime] NULL,
	[ETL__UpdatedDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [loader].[PipelineActivityStatus] ADD  CONSTRAINT [DF_PipelineActivityStatus_ETL__CreatedDate]  DEFAULT (getutcdate()) FOR [ETL__CreatedDate]
GO
