USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_GetPipelineConfiguration]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    PROCEDURE [loader].[up_GetPipelineConfiguration]
	@PipelineName VARCHAR(250)
AS
DECLARE @sql NVARCHAR(MAX) = ''

SET @sql = (
		SELECT 'SELECT ' + Fields 
		FROM (
				SELECT STRING_AGG('''' + PipelineVariableValue + ''' AS ' + PipelineVariableName, ', ') AS Fields 
				FROM loader.PipelineVariables pv
				WHERE pv.PipelineName = @PipelineName
			) pv
	)
EXEC sp_executesql @sql
GO
