USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_UpdateErrorMessage]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [loader].[up_UpdateErrorMessage]
	@PipelineRunId VARCHAR(256) NULL,
	@ConfigId [INT],
	@ErrorMessage NVARCHAR(MAX),
	@LastExtractedDateTime [DATETIME]
AS
	DECLARE @WatermarkValue [VARCHAR](MAX)
	DECLARE @SourceSystemId INT = (
			SELECT SourceSystemId 
			FROM loader.Config c
			WHERE c.ConfigId = @ConfigId
		)

	SET @WatermarkValue = (SELECT [WatermarkValue] FROM loader.Config WHERE ConfigId = @ConfigId)

	MERGE loader.ExtractHistory AS myTarget
	USING (
		SELECT 
			@SourceSystemId AS SourceSystemId,
			@ConfigId AS ConfigId,
			@PipelineRunId AS PipelineRunId,
			@LastExtractedDateTime AS ExtractDateTime,
			@ErrorMessage AS ErrorMessage
		) AS  mySource
		ON myTarget.ConfigId = mySource.ConfigId
		AND myTarget.PipelineRunId = mySource.PipelineRunId
	WHEN MATCHED THEN
		UPDATE
		SET ErrorMessage = myTarget.ErrorMessage + CHAR(13)+CHAR(10) + mySource.ErrorMessage
	WHEN NOT MATCHED THEN	
		INSERT (
			SourceSystemId,
			ConfigId,
			PipelineRunId,
			ExtractDateTime,
			ErrorMessage
		)
		VALUES (
			@SourceSystemId,
			@ConfigId,
			@PipelineRunId,
			@LastExtractedDateTime,
			@ErrorMessage
		);
GO
