USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  View [loader].[vwDeltaLakeProcessInstructions]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  VIEW [loader].[vwDeltaLakeProcessInstructions]
AS
     SELECT [a].[SourceSystem]
           ,[a].[SystemType]
           ,[a].[ConfigId]
           ,[a].[ExtractHistoryId]
           ,[a].[IntegrationType]
           ,[a].[TableName]
           ,[a].[TablePrimaryKey]
           ,[a].[JoinString]
           ,[a].[ContainerName]
           ,[a].[ConfigActive]
           ,[a].[ConfigFolderName]
           ,[a].[PipelineRunId]
           ,[a].[FolderName]
           ,[a].[FileName]
           ,[a].[ExtractDateTime]
           ,[a].[Incremental]
           ,[a].[PrimaryKeyDefined]
           ,[a].[FirstRecord]
           ,[a].[NeedsDeltaLake]
           ,[a].[NeedsAppend]
           ,[a].[RecordCount]
           ,[a].[FileSize]
     FROM (
          SELECT [ia].[SourceSystem]
                ,[ia].SystemType
                ,[ia].[ConfigId]
                ,[ia].[IntegrationType]
                ,CONVERT(bit, [ia].[Incremental])       AS Incremental
                ,[ia].[TableSchema]
                ,[ia].[TableName]
                ,ISNULL([ia].[TablePrimaryKey], '')     AS [TablePrimaryKey]
                ,CASE WHEN [ia].[TablePrimaryKey] IS NULL 
                        OR [ia].[TablePrimaryKey] = ''
                     THEN ''
                     ELSE STRING_AGG(JoinStr, ' and ')
                 END                                    AS [JoinString]
                ,[ia].[ContainerName]
                ,[ia].[ConfigActive]
                ,[ia].[ConfigFolderName]
                ,[ia].[PipelineRunId]
                ,[ia].[FolderName]
                ,[ia].[FileName]
                ,[ia].[ExtractDateTime]
                ,[ia].ExtractHistoryId
                ,CONVERT(bit, CASE WHEN [ia].[TablePrimaryKey] IS NULL
                                     OR [ia].[TablePrimaryKey] = '' 
                                   THEN 0 
                                   ELSE 1 
                              END)                      AS [PrimaryKeyDefined]
                ,CONVERT(bit, CASE WHEN [ia].[ExtractHistoryId] = FIRST_VALUE([ia].[ExtractHistoryId]) OVER (PARTITION BY [ia].[ConfigId] 
                                                                                                             ORDER BY [ia].[ExtractDateTime]
                                                                                                                     ,[ia].[FileName]
                                                                                                                     ,[ia].[ExtractHistoryId] ASC)
                                   THEN 1
                                   ELSE 0
                              END)                      AS [FirstRecord]
                ,CONVERT(bit, [ia].[NeedsDeltaLake])    AS [NeedsDeltaLake]
                ,CONVERT(bit, [ia].[NeedsAppend])       AS [NeedsAppend]
                ,[ia].[RecordCount]
                ,[ia].[FileSize]
          FROM (
               SELECT CAST(CONCAT('original.', TRIM([pk].[value]), ' = updates.', TRIM([pk].[value])) AS varchar(MAX)) AS [JoinStr]
                     ,[ss].[SourceSystem]
                     ,[st].[SystemType]
                     ,[c].[ConfigId]
                     ,[c].[IntegrationType]
                     ,[c].[Incremental]
                     ,[c].[TableSchema]
                     ,ISNULL([c].[FileNameOverride], c.[TableName])                        AS [TableName]
                     ,[c].[PrimaryKey]                                                     AS [TablePrimaryKey]
                     ,[c].[ContainerName]
                     ,[c].[ConfigActive]
                     ,[c].[FolderName]                                                     AS [ConfigFolderName]
                     ,ISNULL([eh].[PipelineRunId], '00000000-0000-0000-0000-000000000000') AS PipelineRunId
                     ,[eh].[FolderName]
                     ,[eh].[FileName]
                     ,[eh].[ExtractHistoryId]
                     ,[eh].[ExtractDateTime]
                     ,CASE WHEN [eh].[LoadedToDelta] IS NULL 
                               OR [eh].[LoadedToDelta] = 0 
                           THEN 1 
                           ELSE 0 
                      END                                                                  AS [NeedsDeltaLake]
                     ,CASE WHEN [eh].[LoadedToAppends] IS NULL 
                               OR [eh].[LoadedToAppends] = 0 
                           THEN 1 
                           ELSE 0 
                      END                                                                  AS [NeedsAppend]
                     ,[eh].[RecordCount]
                     ,[eh].[FileSize]
               FROM [loader].[Config]                  [c]  (NOLOCK)
               INNER JOIN [loader].[SourceSystem]      [ss] (NOLOCK)
                    ON [c].[SourceSystemId] = [ss].[SourceSystemId]
               INNER JOIN [loader].[SystemType]        [st] (NOLOCK)
                    ON [ss].[SystemTypeId] = [st].[SystemTypeId]
               INNER JOIN [loader].[ExtractHistory]    [eh] (NOLOCK)
                    ON [c].[ConfigId] = [eh].[ConfigId]
               OUTER APPLY STRING_SPLIT([c].[PrimaryKey], ',') AS [pk]
               WHERE eh.[FolderName] IS NOT NULL
                    AND [eh].[ErrorMessage] IS NULL
                    AND [c].[ConfigActive] = 1
               ) [ia]
          GROUP BY
               [ia].SourceSystem, 
               [ia].SystemType, 
               [ia].[ConfigId],
               [ia].[IntegrationType], 
               [ia].[Incremental],
               [ia].[TableSchema], 
               [ia].[TableName], 
               [ia].[TablePrimaryKey], 
               [ia].[ContainerName], 
               [ia].[ConfigActive], 
               [ia].ConfigFolderName, 
               [ia].PipelineRunId, 
               [ia].FolderName, 
               [ia].[FileName],
               [ia].[ExtractDateTime],
               [ia].[ExtractHistoryId],
               [ia].[ExtractDateTime],
               [ia].[NeedsDeltaLake],
               [ia].[NeedsAppend],
               [ia].RecordCount,
               [ia].FileSize
     ) a
     WHERE 1=1
          AND (([a].[NeedsDeltaLake] = 1 
                    AND ([a].[PrimaryKeyDefined] = 1 
                         OR [a].[Incremental] = 0)
                    ) 
               OR [a].[NeedsAppend] = 1
               )
          AND ([a].[FirstRecord] = 1 
               OR [a].[RecordCount] > 0)
GO
