USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  Table [loader].[SystemType]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [loader].[SystemType](
	[SystemTypeId] [int] IDENTITY(1,1) NOT NULL,
	[SystemType] [varchar](255) NOT NULL,
 CONSTRAINT [PK_SystemType__SystemTypeId] PRIMARY KEY CLUSTERED 
(
	[SystemTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
