USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  Table [loader].[SourceSystem]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [loader].[SourceSystem](
	[SourceSystemId] [int] IDENTITY(1,1) NOT NULL,
	[SourceSystem] [varchar](50) NULL,
	[SystemTypeId] [int] NULL,
	[Login] [varchar](255) NULL,
	[SecretName] [varchar](255) NULL,
	[CreatedDateTime] [datetime] NULL,
	[UpdatedDateTime] [datetime] NULL,
 CONSTRAINT [PK_SourceSystem__SourceSystemId] PRIMARY KEY NONCLUSTERED 
(
	[SourceSystemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [loader].[SourceSystem]  WITH CHECK ADD  CONSTRAINT [FK_SourceSystem_SystemType] FOREIGN KEY([SystemTypeId])
REFERENCES [loader].[SystemType] ([SystemTypeId])
GO
ALTER TABLE [loader].[SourceSystem] CHECK CONSTRAINT [FK_SourceSystem_SystemType]
GO
