USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  Table [loader].[Config_SP]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [loader].[Config_SP](
	[ConfigId] [int] IDENTITY(1,1) NOT NULL,
	[SourceSystemId] [int] NULL,
	[IntegrationType] [varchar](200) NOT NULL,
	[SP_Query] [nvarchar](max) NULL,
	[URL] [varchar](600) NULL,
	[Tenant] [varchar](300) NULL,
	[Service_Principal_ID] [varchar](300) NULL,
	[Service_Principal_Secret_KV_Name] [varchar](100) NULL,
	[ListName] [varchar](256) NULL,
	[PrimaryKey] [varchar](max) NULL,
	[ContainerName] [varchar](255) NOT NULL,
	[FolderName] [varchar](255) NOT NULL,
	[FileNameOverride] [varchar](255) NULL,
	[StoredProcedure] [varchar](255) NULL,
	[TimeZone] [varchar](255) NULL,
	[ConfigGroup] [varchar](255) NULL,
	[ConfigActive] [bit] NOT NULL,
	[ConfigOptions] [nvarchar](max) NULL,
	[AuditActive] [bit] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastExtractedDateTime] [datetime] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[SiteName] [varchar](150) NULL,
	[partition_field] [varchar](50) NULL,
 CONSTRAINT [PK__Config_SP__ConfigId] PRIMARY KEY CLUSTERED 
(
	[ConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_Config_SP__SourceSystemId__ListName] UNIQUE NONCLUSTERED 
(
	[SourceSystemId] ASC,
	[ListName] ASC,
	[FileNameOverride] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [loader].[Config_SP] ADD  CONSTRAINT [DF_Config_SP_AuditActive]  DEFAULT ((1)) FOR [AuditActive]
GO
ALTER TABLE [loader].[Config_SP] ADD  CONSTRAINT [DF_ConfigSPStartDate]  DEFAULT ('1900-01-01') FOR [StartDate]
GO
ALTER TABLE [loader].[Config_SP] ADD  CONSTRAINT [DF_ConfigSPEndDate]  DEFAULT ('2500-01-01') FOR [EndDate]
GO
