USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_GetPipelineActivityStatusRuns]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [loader].[up_GetPipelineActivityStatusRuns]
	@DaysBack INT
AS
SELECT DISTINCT ps.PipelineRunId, ps.PipelineName
FROM Loader.PipelineStatus ps
INNER JOIN Loader.ExtractHistory eh
	ON ps.PipelineRunId = eh.PipelineRunId
WHERE RunStart >= DATEADD(dd, @DaysBack, GETUTCDATE())
GO
