USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_UpdatePipelineActivityStatus]    Script Date: 11/11/2024 4:41:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROC [loader].[up_UpdatePipelineActivityStatus] 
	@json AS NVARCHAR(MAX),
	@PipelineRunId VARCHAR(256)
AS
BEGIN

	MERGE Loader.PipelineActivityStatus AS myTarget
	USING (
			SELECT
				json_value(j.value, '$.pipelineRunId') AS PipelineRunId,
				j.[key] AS JsonKey,
				json_value(j.value, '$.pipelineName') AS PipelineName,
				json_value(j.value, '$.status') AS PipelineStatus,
				json_value(j.value, '$.activityRunId') AS [ActivityRunId],
				json_value(j.value, '$.activityName') AS [ActivityName],
				CONVERT(datetime, LEFT(json_value(j.value, '$.activityRunStart'), 19)) AS ActivityRunStart,
				CONVERT(datetime, LEFT(json_value(j.value, '$.activityRunEnd'), 19)) AS ActivityRunEnd,
				json_value(j.value, '$.activityType') AS [ActivityType],
				CONVERT(int, json_value(j.value, '$.durationInMs')) AS DurationInMs,
				json_value(j.value, '$.retryAttempt') AS [RetryAttempt],
				CASE WHEN isnull(json_value(j.value, '$.error.message'), '') = '' THEN NULL
					 ELSE json_value(j.value, '$.error.message')
					 END AS [Error],
				json_value(j.value, '$.input.source.type') AS SourceType,
				ac.ConfigId,
				json_value(j.[value], '$.input.source.sqlReaderQuery') AS SqlReaderQuery,
				json_value(j.[value], '$.output.dataRead') AS DataRead,
				json_value(j.[value], '$.output.dataWritten') AS DataWritten,
				json_value(j.[value], '$.output.filesWritten') AS FilesWritten,
				json_value(j.[value], '$.output.rowsRead') AS RowsRead,
				json_value(j.[value], '$.output.rowsCopied') AS RowsCopied,
				json_value(j.[value], '$.output.copyDuration') AS CopyDuration,
				json_value(j.[value], '$.output.throughput') AS Throughput,
				json_value(j.[value], '$.output.errors') AS CopyActivityErrors,
				json_value(j.[value], '$.output.usedDataIntegrationUnits') AS UsedDataIntegrationUnits,
				json_value(j.[value], '$.output.firstRow.WatermarkValue') AS WatermarkValue,
				json_value(j.[value], '$.output.firstRow.RecordCount') AS RecordCount,
				bd.meterType AS MeterType,
				bd.duration AS MeterDuration,
				bd.unit AS MeterUnit,
				j.[value] AS JsonValue,
				GETUTCDATE() AS ETL__UpdatedDate
			FROM OPENJSON(@json) j
			OUTER APPLY (
					SELECT JSON_VALUE(ac.[value], '$.value') AS ConfigId
					FROM OPENJSON(j.[value], '$.input.source.additionalColumns') ac
					WHERE JSON_VALUE(ac.[value], '$.name') = '__ConfigId'
				) ac
			OUTER APPLY OPENJSON(j.[value], '$.output.billingReference.billableDuration')
				WITH (
					meterType VARCHAR(256),
					duration DECIMAL(19,4),
					unit VARCHAR(256)
				) AS bd	
		) AS mySource
		ON  myTarget.PipelineRunId = mySource.PipelineRunId
		AND myTarget.ActivityRunId = mySource.ActivityRunId
	WHEN MATCHED THEN
		UPDATE
		SET [JsonKey] = mySource.[JsonKey], 
			[PipelineName] = mySource.[PipelineName], 
			[PipelineStatus] = mySource.[PipelineStatus], 
			[ActivityName] = mySource.[ActivityName], 
			[ActivityRunStart] = mySource.[ActivityRunStart], 
			[ActivityRunEnd] = mySource.[ActivityRunEnd], 
			[ActivityType] = mySource.[ActivityType], 
			[DurationInMs] = mySource.[DurationInMs], 
			[RetryAttempt] = mySource.[RetryAttempt], 
			[Error] = mySource.[Error], 
			[SourceType] = mySource.[SourceType], 
			[ConfigId] = mySource.[ConfigId], 
			[SqlReaderQuery] = mySource.[SqlReaderQuery], 
			[DataRead] = mySource.[DataRead], 
			[DataWritten] = mySource.[DataWritten], 
			[FilesWritten] = mySource.[FilesWritten], 
			[RowsRead] = mySource.[RowsRead], 
			[RowsCopied] = mySource.[RowsCopied], 
			[CopyDuration] = mySource.[CopyDuration], 
			[Throughput] = mySource.[Throughput], 
			[CopyActivityErrors] = mySource.[CopyActivityErrors],
			[UsedDataIntegrationUnits] = mySource.[UsedDataIntegrationUnits], 
			[WatermarkValue] = mySource.[WatermarkValue], 
			[RecordCount] = mySource.[RecordCount], 
			[MeterType] = mySource.[MeterType], 
			[MeterDuration] = mySource.[MeterDuration], 
			[MeterUnit] = mySource.[MeterUnit], 
			[JsonValue] = mySource.[JsonValue],
			ETL__UpdatedDate = mySource.ETL__UpdatedDate
	WHEN NOT MATCHED THEN
		INSERT (
			[PipelineRunId], 
			[JsonKey], 
			[PipelineName], 
			[PipelineStatus], 
			[ActivityRunId], 
			[ActivityName], 
			[ActivityRunStart], 
			[ActivityRunEnd], 
			[ActivityType], 
			[DurationInMs], 
			[RetryAttempt], 
			[Error], 
			[SourceType], 
			[ConfigId], 
			[SqlReaderQuery], 
			[DataRead], 
			[DataWritten], 
			[FilesWritten], 
			[RowsRead], 
			[RowsCopied], 
			[CopyDuration], 
			[Throughput], 
			[CopyActivityErrors], 
			[UsedDataIntegrationUnits], 
			[WatermarkValue], 
			[RecordCount], 
			[MeterType], 
			[MeterDuration], 
			[MeterUnit], 
			[JsonValue]
		)
		VALUES (
			mySource.[PipelineRunId], 
			mySource.[JsonKey], 
			mySource.[PipelineName], 
			mySource.[PipelineStatus], 
			mySource.[ActivityRunId], 
			mySource.[ActivityName], 
			mySource.[ActivityRunStart], 
			mySource.[ActivityRunEnd], 
			mySource.[ActivityType], 
			mySource.[DurationInMs], 
			mySource.[RetryAttempt], 
			mySource.[Error], 
			mySource.[SourceType], 
			mySource.[ConfigId], 
			mySource.[SqlReaderQuery], 
			mySource.[DataRead], 
			mySource.[DataWritten], 
			mySource.[FilesWritten], 
			mySource.[RowsRead], 
			mySource.[RowsCopied], 
			mySource.[CopyDuration], 
			mySource.[Throughput], 
			mySource.[CopyActivityErrors], 
			mySource.[UsedDataIntegrationUnits], 
			mySource.[WatermarkValue], 
			mySource.[RecordCount], 
			mySource.[MeterType], 
			mySource.[MeterDuration], 
			mySource.[MeterUnit], 
			mySource.[JsonValue]
		);
END
GO
