USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_GetItemStatus]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [loader].[up_GetItemStatus]
	@SourceSystem VARCHAR(50),
	@ItemStatus VARCHAR(500)
AS
SELECT
	lis.ConfigId,
	lis.ItemStatus,
	lis.ItemStatusValue,
	MAX(lis.CreateDateTimeUtc) AS CreateDateTimeUtc,
	c.FolderName,
	c.TableName
FROM loader.ItemStatus lis
INNER JOIN loader.Config c
	ON lis.ConfigId = c.ConfigId
INNER JOIN loader.SourceSystem ss
	ON c.SourceSystemId = ss.SourceSystemId
WHERE ss.SourceSystem = @SourceSystem
	AND lis.ItemStatus = @ItemStatus
GROUP BY
	lis.ConfigId,
	lis.ItemStatus,
	lis.ItemStatusValue,
	c.FolderName,
	c.TableName
GO
