USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  Table [loader].[ExtractHistory]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [loader].[ExtractHistory](
	[ExtractHistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[SourceSystemId] [int] NULL,
	[ConfigId] [int] NOT NULL,
	[PipelineRunId] [varchar](256) NULL,
	[FolderName] [varchar](500) NULL,
	[FileName] [varchar](500) NULL,
	[WatermarkValue] [varchar](max) NULL,
	[RecordCount] [int] NULL,
	[FileSize] [bigint] NULL,
	[ExtractDateTime] [datetime] NULL,
	[LoadedToAppends] [bit] NULL,
	[LoadedToDelta] [bit] NULL,
	[LoadedToDw] [bit] NULL,
	[ErrorMessage] [nvarchar](4000) NULL,
	[ExtractDateTimeLocal]  AS ((([ExtractDateTime] AT TIME ZONE 'UTC') AT TIME ZONE 'Central Standard Time')),
 CONSTRAINT [PK_ExtractHistory] PRIMARY KEY CLUSTERED 
(
	[ExtractHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [loader].[ExtractHistory] ADD  CONSTRAINT [DF_ExtractHistory_LoadedToAppends]  DEFAULT ((0)) FOR [LoadedToAppends]
GO
ALTER TABLE [loader].[ExtractHistory] ADD  CONSTRAINT [DF_ExtractHistory_LoadedToDelta]  DEFAULT ((0)) FOR [LoadedToDelta]
GO
ALTER TABLE [loader].[ExtractHistory] ADD  CONSTRAINT [DF_ExtractHistory_LoadedToDw]  DEFAULT ((0)) FOR [LoadedToDw]
GO
ALTER TABLE [loader].[ExtractHistory]  WITH CHECK ADD  CONSTRAINT [FK_ExtractHistory_Config] FOREIGN KEY([ConfigId])
REFERENCES [loader].[Config] ([ConfigId])
GO
ALTER TABLE [loader].[ExtractHistory] CHECK CONSTRAINT [FK_ExtractHistory_Config]
GO
