USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  Table [loader].[PipelineVariables]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [loader].[PipelineVariables](
	[PipelineVariablesId] [int] IDENTITY(1,1) NOT NULL,
	[PipelineName] [varchar](256) NOT NULL,
	[PipelineVariableName] [varchar](256) NULL,
	[PipelineVariableValue] [varchar](256) NULL,
	[CreateDateTimeUtc] [datetime] NOT NULL,
	[UpdateDateTimeUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_PipelineVariables] PRIMARY KEY CLUSTERED 
(
	[PipelineVariablesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_PipelineVariables__PipelineName_PipelineVariableName] UNIQUE NONCLUSTERED 
(
	[PipelineName] ASC,
	[PipelineVariableName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [loader].[PipelineVariables] ADD  CONSTRAINT [DF__PipelineVariables__CreateDateTimeUtc]  DEFAULT (getutcdate()) FOR [CreateDateTimeUtc]
GO
ALTER TABLE [loader].[PipelineVariables] ADD  CONSTRAINT [DF__PipelineVariables__UpdateDateTimeUtc]  DEFAULT (getutcdate()) FOR [UpdateDateTimeUtc]
GO
