USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_GetDeltaLakeViewItems]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [loader].[up_GetDeltaLakeViewItems]
	@SourceSystem VARCHAR(50)
AS
SELECT
	lis.ConfigId,
	lis.ItemStatus,
	lis.ItemStatusValue,
	MAX(lis.CreateDateTimeUtc) AS CreateDateTimeUtc,
	c.FolderName,
	ISNULL(c.FileNameOverride, c.TableName) AS TableName
FROM loader.ItemStatus lis
INNER JOIN loader.Config c
	ON lis.ConfigId = c.ConfigId
INNER JOIN loader.SourceSystem ss
	ON c.SourceSystemId = ss.SourceSystemId
WHERE ss.SourceSystem = @SourceSystem
	AND lis.ItemStatus = 'Delta Lake Created'
	AND NOT EXISTS (
			SELECT 1
			FROM loader.ItemStatus lis2
			WHERE lis.ConfigId = lis2.ConfigId
				AND lis2.ItemStatus = 'Delta Lake View Created'
		)
GROUP BY
	lis.ConfigId,
	lis.ItemStatus,
	lis.ItemStatusValue,
	c.FolderName,
	ISNULL(c.FileNameOverride, c.TableName)
GO
