USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  Table [loader].[PipelineStatus]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [loader].[PipelineStatus](
	[PipelineStatusId] [int] IDENTITY(1,1) NOT NULL,
	[PipelineRunId] [varchar](256) NOT NULL,
	[PipelineName] [varchar](256) NULL,
	[ParameterValues] [varchar](5000) NULL,
	[InvokedBy] [nvarchar](max) NULL,
	[InvokedByPipelineRunId] [varchar](256) NULL,
	[InvokedByType] [varchar](256) NULL,
	[RunStart] [datetime] NULL,
	[RunEnd] [datetime] NULL,
	[DurationInMs] [bigint] NULL,
	[PipelineStatus] [varchar](256) NULL,
	[Message] [varchar](max) NULL,
	[LastUpdated] [datetime] NULL,
	[ETL__CreatedDate] [datetime] NULL,
	[ETL__UpdatedDate] [datetime] NULL,
	[ETL__ManualStatus] [bit] NULL,
	[RunStartLocal]  AS ((([RunStart] AT TIME ZONE 'UTC') AT TIME ZONE 'Central Standard Time')),
	[RunEndLocal]  AS ((([RunEnd] AT TIME ZONE 'UTC') AT TIME ZONE 'Central Standard Time')),
 CONSTRAINT [PK_PipelineStatus] PRIMARY KEY CLUSTERED 
(
	[PipelineRunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [loader].[PipelineStatus] ADD  CONSTRAINT [DF_PipelineStatus_ETL__CreatedDate]  DEFAULT (getutcdate()) FOR [ETL__CreatedDate]
GO
ALTER TABLE [loader].[PipelineStatus] ADD  CONSTRAINT [DF_PipelineStatus_ETL__ManualStatus]  DEFAULT ((0)) FOR [ETL__ManualStatus]
GO
ALTER TABLE [loader].[PipelineStatus]  WITH CHECK ADD  CONSTRAINT [FK_PipelineStatus_PipelineStatus] FOREIGN KEY([InvokedByPipelineRunId])
REFERENCES [loader].[PipelineStatus] ([PipelineRunId])
GO
ALTER TABLE [loader].[PipelineStatus] CHECK CONSTRAINT [FK_PipelineStatus_PipelineStatus]
GO
