USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  Table [loader].[Config_Flatfile]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [loader].[Config_Flatfile](
	[ConfigId] [int] IDENTITY(1,1) NOT NULL,
	[SourceSystemId] [int] NULL,
	[IntegrationType] [varchar](255) NULL,
	[Incremental] [bit] NULL,
	[ColumnDelimiter] [varchar](255) NULL,
	[CompressionLevel] [varchar](255) NULL,
	[CompressionType] [varchar](255) NULL,
	[Encoding] [varchar](255) NULL,
	[EscapeCharacter] [varchar](255) NULL,
	[FileSystem] [varchar](255) NULL,
	[Directory] [varchar](255) NULL,
	[FileName] [varchar](255) NULL,
	[FileExt] [varchar](255) NULL,
	[FirstRowAsHeader] [bit] NULL,
	[NullValue] [varchar](255) NULL,
	[QuoteCharacter] [varchar](255) NULL,
	[RowDelimiter] [varchar](255) NULL,
	[FileNameOverride] [varchar](255) NULL,
	[LoadDw] [bit] NOT NULL,
	[TimeZone] [varchar](255) NULL,
	[ConfigGroup] [varchar](255) NULL,
	[ConfigActive] [bit] NOT NULL,
	[ConfigOptions] [nvarchar](max) NULL,
	[AuditActive] [bit] NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[LastExtractedDateTime] [datetime] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[SchemaShift] [varchar](255) NOT NULL,
	[TargetTableName] [varchar](255) NULL,
	[PrimaryKey] [varchar](255) NULL,
	[TargetBronzeSchema] [varchar](255) NULL,
	[TargetSilverEntity] [varchar](255) NULL,
	[ArchiveRaw] [bit] NULL,
 CONSTRAINT [PK_loader_CONFIG_FLATFILE] PRIMARY KEY CLUSTERED 
(
	[ConfigId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
