USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_GetSourceSqlQuery]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [loader].[up_GetSourceSqlQuery]
       @ConfigId INT
AS
SET NOCOUNT ON
--DECLARE @ConfigId INT = 2, @LowWatermarkValue VARCHAR(256) = NULL, @HighWatermarkValue VARCHAR(256) = NULL
DECLARE 
       @Sql NVARCHAR(MAX) = '',
       @ColumnList NVARCHAR(MAX) = '',
       @LineBreak VARCHAR(MAX)

SET @LineBreak = CHAR(13)+CHAR(10)

DROP TABLE IF EXISTS #SqlQuery

SELECT 
	CASE WHEN ISNULL(c.QueryOverride, '') <> ''  AND c.QueryOverride LIKE '%WatermarkValue%' --Where constraint includes ability for watermark value
		THEN REPLACE(c.QueryOverride, 'WatermarkValue', ISNULL(c.WatermarkValue, '1900-01-01 00:00:00.000'))
		WHEN ISNULL(c.QueryOverride, '') <> '' --Where there is no incremental intention
		THEN c.QueryOverride
		ELSE
				CONCAT_WS(' ',
						'SELECT *', @LineBreak,
						'FROM', QUOTENAME(c.TableSchema) + '.' + QUOTENAME(c.TableName), @LineBreak,
						'WHERE 1=1', @LineBreak,
						CASE WHEN Incremental = 1 AND COALESCE(WaterMarkValue, '') <> ''
							THEN ' AND ' + 
									CASE WHEN c.WatermarkType IN ('datetime') 
											THEN c.WatermarkField + ' >= ''' + c.WatermarkValue + ''''
											WHEN c.WatermarkType IN ('varbinary', 'smallint', 'int', 'bigint', 'integer')
											THEN c.WatermarkField + ' > ' + c.WaterMarkValue + ''
											END
							ELSE ''
							END
				)
		END AS SqlQuery,
	c.ServerName,
	c.DatabaseName,
	c.TableSchema,
	c.TableName,
	c.ContainerName,
	c.FolderName,
	ISNULL(c.FileNameOverride, c.TableName) AS [FileName],
	ss.SecretName
INTO #SqlQuery
FROM loader.Config c
INNER JOIN loader.SourceSystem ss
	ON c.SourceSystemId = ss.SourceSystemId
WHERE ConfigId = @ConfigId

SELECT * FROM #SqlQuery

SELECT @Sql = SqlQuery FROM #SqlQuery
PRINT @Sql
GO
