USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_ResetExtract]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [loader].[up_ResetExtract]
	@ConfigIds VARCHAR(255) = NULL
AS
BEGIN
	--DECLARE @ConfigIds VARCHAR(255) = '1'
	SET NOCOUNT ON

	DECLARE @ConfigId TABLE (
		ConfigId INT
	)
	INSERT INTO @ConfigId (
		ConfigId
	)
	SELECT 
		co.[value] AS ConfigId
	FROM STRING_SPLIT(@ConfigIds, ',') co
	INNER JOIN loader.Config c
		ON co.[value] = c.ConfigId

	IF (SELECT COUNT(*) AS Cnt
		FROM @ConfigId) = 0
	BEGIN
		PRINT 'No items defined for reset.'
		RETURN
	END

	DELETE eh
	--SELECT *
	FROM loader.ExtractHistory eh
	INNER JOIN @ConfigId co
		ON eh.ConfigId = co.ConfigId

	DELETE ist
	--SELECT *
	FROM loader.ItemStatus ist
	INNER JOIN @ConfigId co
		ON ist.ConfigId = co.ConfigId
	WHERE ItemStatus IN (
			'Append Spark Table Created',
			'Delta Lake Created',
			'Delta Lake Updated',
			'Delta Lake View Created'
		)

	UPDATE c
	SET WatermarkValue = NULL, LastExtractedDateTime = NULL
	--SELECT *
	FROM loader.Config c
	INNER JOIN @ConfigId co
		ON c.ConfigId = co.ConfigId

	PRINT 'Please delete the files from Azure Data Lake Storage'
END
GO
