USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_UpdateItemStatus]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [loader].[up_UpdateItemStatus]
	@ConfigId INT,
	@ItemStatus VARCHAR(500),
	@ItemStatusValue VARCHAR(5000)
AS

MERGE loader.ItemStatus AS myTarget
USING (
		SELECT 
			@ConfigId AS ConfigId,
			@ItemStatus AS ItemStatus,
			@ItemStatusValue AS ItemStatusValue
	) AS mySource
	ON  myTarget.ConfigId = mySource.ConfigId
	AND myTarget.ItemStatus = mySource.ItemStatus
WHEN MATCHED THEN
	UPDATE
	SET ItemStatusValue = mySource.ItemStatusValue,
		UpdateDateTimeUtc = GETUTCDATE()
WHEN NOT MATCHED THEN
	INSERT (
		ConfigId,
		ItemStatus,
		ItemStatusValue,
		CreateDateTimeUtc
	)
	VALUES (
		mySource.ConfigId,
		mySource.ItemStatus,
		mySource.ItemStatusValue,
		GETUTCDATE()
	)
;
GO
