USE [adap-sqldb-dev-cus-01]
GO
/****** Object:  StoredProcedure [loader].[up_UpdateExtractStatus__Start]    Script Date: 11/11/2024 4:41:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [loader].[up_UpdateExtractStatus__Start]
	@PipelineRunId VARCHAR(256),
	@PipelineName VARCHAR(256),
	@InvokedByPipelineRunId VARCHAR(256),
	@InvokedByType VARCHAR(256)
AS

INSERT INTO loader.PipelineStatus (
	PipelineRunId,
	PipelineName,
	InvokedByPipelineRunId,
	InvokedByType,
	PipelineStatus,
	RunStart,
	ETL__ManualStatus
)
VALUES (
	@PipelineRunId,
	@PipelineName,
	@InvokedByPipelineRunId,
	@InvokedByType,
	'InProgress',
	GETUTCDATE(),
	1
)
GO
